*.o

# ignore phpized files
Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache
build
configure
configure*
install-sh
iltmain.sh
missing
mkinstalldirs
run-tests.php
*.lo
*.o
.deps
.libs
libtool
Makefile
Makefile.fragments
Makefile.objects
modules
ltmain.sh
*.la
tmp-php.ini
php_test_results*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub


# ignore dtrace header
phpuv_dtrace.h

# ignore test outputs
tests/*.diff
tests/*.exp
tests/*.log
tests/*.php
tests/*.sh
tests/*.out
.vscode/c_cpp_properties.json
.vscode/settings.json
php-sdk-binary-tools-php-sdk-2.2.0/*
php-sdk/*

cmake-build-debug/

*.xcodeproj
*.xcworkspace

# make dist output
libuv-*.tar.*
*.cmake
*.rule
*.stamp
*.depend
CMakeFiles/*
CMakeCache.txt
DartConfiguration.tcl
deps/
libuv-*/
libuv-*.zip
php-src-php-*/
php-*/
php_uv.dep
uv.dep
install.sh
config.h.in~
